<%= form_with(model: [@discussion_thread.project, @discussion_thread, @message], local: true, class: "mb-2") do |form| %>
    <div class="mb-2">
      <%= form.label :content, "Message Content" %>
      <%= form.text_area :content, class: "form-control", placeholder: "Type your message here..." %>
    </div>
    
    <%= form.submit @message.new_record? ? "Post Message" : "Update Message", class: "btn btn-primary" %>
  <% end %>
  