<div id="<%= dom_id message %>">
  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

  <p>
    <strong>Discussion thread:</strong>
    <%= message.discussion_thread_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

</div>
