# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore bundler config.
/.bundle

# Ignore all environment files.
.env*
.env*.local

# Ignore secrets and master key.
config/initializers/secret_token.rb
config/master.key

# Ignore SQLite database files.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*

# Ignore log and temp files.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore PIDs, storage, and uploaded files.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore public assets.
/public/assets
/public/packs
/public/packs-test
/public/uploads
/public/system

# Ignore test and debugging files.
capybara-*.html
.rspec
/coverage/
.rerun.txt
pickle-email-*.html
.byebug_history

# Ignore Node.js and Yarn files.
node_modules/
.yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore vendor and Bower files.
/vendor/bundle
/vendor/assets/bower_components
bower.json
.bowerrc
